* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-style: "Open Sans";
}

.container {
    max-width: 1148px;
    margin: auto;
    // border: 1px solid white;
}

.max-container {
    max-width: 1440px;
    margin:auto;
}
