@media (max-width:640px) {

.header-list {
        display:none;
    }

.bg-img {
    padding: 20px;
    background-size:cover;
    height: 600px;
    background-position: center;
}

.search-btn {
    display: none;
}

.header-nav {
    padding-top:20px;
}

h1 {
    font-size:7vw;
}

.hero {
    margin-top: 40px;
}

.hero-wrapper {
    p {
    font-size:3vw;
    margin:26px 0 48px;
    }   
}
.aside {
    padding:0 20px
}

.footer-wrapper {
    display:grid;
    row-gap:50px;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
}

.folow-us {
    order:2;
    padding-bottom:20px
}

.folow-us-bottom {
    gap:10px;
}

.footer-list {
    order:3;
}

.footer-contact {
    padding-top:30px;
}

.footer-wrapper {
    padding-bottom:20px
}


// section + main,article
.middle-section {
    padding:20px
} 
    .section-article-wrapper {
        grid-template-columns: repeat(1,1fr);
    }

#same-image {
    width:100%;
    height:auto;
}

.cards-bottom {
    gap:10px
}

.section-top-wrapper {
    gap:10px
}


.center-section-center {
    justify-content: center;
    grid-template-columns: (1,1fr);
}

.img-sz {
    height: auto;
    width:100%;
}

.first {
    grid-column:1/2;
    grid-row:1/2;
}

.second {
    grid-column:1/2;
    grid-row:2/3;
}

.third {
    grid-column:1/2;
    grid-row:3/4;
}

.fourth {
    grid-column:1/2;
    grid-row:4/5;
}

.fifth {
    grid-column:1/2;
    grid-row:5/6;

}

.sixth {
    grid-column:1/2;
    grid-row:6/7;
}

.center-section-bottom {
    width: 60%;
}

}


@media (max-width:460px) {
       .header-list {
        display:none;
    }

.footer-wrapper {
    align-content: center;
    justify-content: center;
    column-gap:10px;
    grid-template-columns: repeat(1,1fr);
}

.folow-us {
    padding-bottom:0px;
}

.bg-img {
    height:500px;
}

.hero {
button {
    height:50px;
    width:120px;
    font-size:10px;
    }
}

}