// colors
$red_color:rgba(255, 75, 50, 1);
$white_color:rgba(255, 255, 255, 1);
$gray_color:rgba(255, 255, 255, 0.9);
$black_color:rgba(13, 4, 2, 1);
$transparent:transparent;

// font-family
$family:'Josefin Sans';

// font-sizes
$smallest_font:16px;
$small_font:18px;
$middle_font:20px;
$medium_font:24px;
$big_font:32px;
$biggest_font:43px;

//font-width:
$fsmall_width:400;
$fmiddle_width:500;
$flarge_width:600;
$flarger_width:700;