* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: "Open Sans";
}

.container {
  max-width: 1148px;
  margin: auto;
}

.max-container {
  max-width: 1440px;
  margin: auto;
}

.header {
  background: rgb(13, 4, 2);
}

.bg-img {
  background: url(../img/image.png);
  background-repeat: no-repeat;
  background-position: right top;
  height: 700px;
  background-attachment: scroll;
}

.header-nav {
  padding-top: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left, .contact-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-left span, .contact-top span {
  padding-top: 10px;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  color: rgb(255, 75, 50);
}

.header-right {
  display: flex;
  gap: 60px;
}

.header-list {
  display: flex;
  gap: 49px;
  align-items: center;
}
.header-list li {
  list-style: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

#dif-list {
  color: rgb(255, 75, 50);
}

.header-rightside {
  display: flex;
  gap: 15px;
  align-content: center;
}

.search-btn {
  height: 49px;
  width: 49px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}
.search-btn img {
  height: 20px;
  width: 20px;
}

.korzinka-btn {
  background-color: transparent;
  border: none;
}
.korzinka-btn img {
  height: 27px;
  width: 41px;
}

.hero {
  margin-top: 110px;
}

h1 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  color: rgb(255, 255, 255);
}

.hero-wrapper p {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.9);
  margin: 26px 0 48px;
}
.hero-wrapper button {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(255, 75, 50);
  padding: 16px 35px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  width: 148px;
  height: 61px;
  padding: 16px 35px;
}

footer {
  margin-top: 140px;
}

.aside {
  background: rgb(13, 4, 2);
  padding-bottom: 51px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer-contact p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgb(255, 255, 255);
  margin: 30px 0;
}

.contact-bottom {
  display: flex;
  gap: 10px;
}
.contact-bottom img {
  height: 18px;
  width: 18px;
}
.contact-bottom span {
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-list li {
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
  list-style: none;
}

.big-lists, h6 {
  font-size: 24px;
}

h6 {
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.folow-us-bottom {
  display: flex;
  gap: 30px;
}
.folow-us-bottom img {
  margin-top: 45px;
  margin-bottom: 38px;
  height: 38px;
  width: 38px;
}

.copyright-footer {
  background: rgb(13, 4, 2);
}

.copyright-wrapper p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 25px 0 50px;
}

#ruler {
  background: rgba(255, 255, 255, 0.9);
}

.section-main {
  margin-top: 140px;
  margin-bottom: 60px;
}

h2, h5 {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 43px;
  color: rgb(13, 4, 2);
}

.section-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-main-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgb(13, 4, 2);
  margin-top: 20px;
}

.section-main-right {
  display: flex;
  gap: 23px;
}

.left-pointer, .right-pointer {
  width: 46px;
  height: 46px;
  border: 1px solid rgb(255, 75, 50);
  background: rgb(255, 75, 50);
  border-radius: 100%;
}
.left-pointer img, .right-pointer img {
  width: 15px;
  height: 15px;
}
.left-pointer .rounded-corner, .right-pointer .rounded-corner {
  height: 45px;
  width: 44px;
  padding: 13px 10px;
  border: 2px solid white;
  border-radius: 100%;
}

.section-article {
  margin-bottom: 140px;
}

.section-article-wrapper {
  display: grid;
  gap: 86px;
  grid-template-columns: repeat(3, 1fr);
}

.cards img {
  width: 300px;
  height: 265px;
}
.cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 15px 0 30px;
}

h3 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #0C0D0C;
  margin: 35px 0 10px;
}

h4 {
  color: #000000;
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.cards-bottom {
  display: flex;
  justify-content: space-between;
}
.cards-bottom img {
  width: 114px;
  height: 57px;
}
.cards-bottom button {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(255, 75, 50);
  padding: 16px 35px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  width: 167px;
  height: 57px;
  font-size: 18px;
  padding: 15px 30px;
}

h5 {
  text-align: center;
}

.center-section-top p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

.center-section-center {
  display: grid;
  gap: 30px;
  margin: 60px 0;
}

.first, .fifth, .third {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 362px;
  height: 330px;
}

.second, .sixth, .fourth {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 230px;
  width: 362px;
}

.third {
  grid-column: 3/4;
  grid-row: 1/3;
}

.fourth {
  grid-column: 1/2;
  grid-row: 3/4;
}

.fifth {
  grid-column: 2/3;
  grid-row: 2/4;
}

.sixth {
  grid-column: 3/4;
  grid-row: 3/4;
}

.center-section-bottom {
  text-align: center;
  border: 2px solid rgb(13, 4, 2);
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 75, 50);
  height: 57px;
  width: 467px;
  margin: auto;
  padding: 15px 0;
  border-left: none;
  border-right: none;
}

@media (max-width: 640px) {
  .header-list {
    display: none;
  }
  .bg-img {
    padding: 20px;
    background-size: cover;
    height: 600px;
    background-position: center;
  }
  .search-btn {
    display: none;
  }
  .header-nav {
    padding-top: 20px;
  }
  h1 {
    font-size: 7vw;
  }
  .hero {
    margin-top: 40px;
  }
  .hero-wrapper p {
    font-size: 3vw;
    margin: 26px 0 48px;
  }
  .aside {
    padding: 0 20px;
  }
  .footer-wrapper {
    display: grid;
    row-gap: 50px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }
  .folow-us {
    order: 2;
    padding-bottom: 20px;
  }
  .folow-us-bottom {
    gap: 10px;
  }
  .footer-list {
    order: 3;
  }
  .footer-contact {
    padding-top: 30px;
  }
  .footer-wrapper {
    padding-bottom: 20px;
  }
  .middle-section {
    padding: 20px;
  }
  .section-article-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  #same-image {
    width: 100%;
    height: auto;
  }
  .cards-bottom {
    gap: 10px;
  }
  .section-top-wrapper {
    gap: 10px;
  }
  .center-section-center {
    justify-content: center;
    grid-template-columns: 1, 1fr;
  }
  .img-sz {
    height: auto;
    width: 100%;
  }
  .first, .third, .fifth {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .second, .fourth, .sixth {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .third {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .fourth {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .fifth {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .sixth {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .center-section-bottom {
    width: 60%;
  }
}
@media (max-width: 460px) {
  .header-list {
    display: none;
  }
  .footer-wrapper {
    align-content: center;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .folow-us {
    padding-bottom: 0px;
  }
  .bg-img {
    height: 500px;
  }
  .hero button {
    height: 50px;
    width: 120px;
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */